<div class="lang-switcher" [class.is-open]="open()">
  <button
    type="button"
    class="lang-switcher__trigger"
    [attr.aria-expanded]="open()"
    aria-haspopup="listbox"
    [attr.aria-label]="'nav.language' | transloco"
    (click)="toggle()"
  >
    <img
      class="lang-switcher__flag"
      [src]="flagSrc(activeLocale())"
      [alt]="''"
      width="22"
      height="15"
      decoding="async"
    />
    <span class="lang-switcher__name">{{ activeLocale()?.nativeName }}</span>
    <span class="lang-switcher__caret" aria-hidden="true"></span>
  </button>

  @if (open()) {
    <ul class="lang-switcher__menu" role="listbox" [attr.aria-label]="'nav.language' | transloco">
      @for (loc of locales(); track loc.code) {
        <li role="option" [attr.aria-selected]="loc.code === currentLang()">
          <button
            type="button"
            class="lang-switcher__option"
            [class.is-active]="loc.code === currentLang()"
            (click)="select(loc.code)"
          >
            <img
              class="lang-switcher__flag"
              [src]="flagSrc(loc)"
              [alt]="''"
              width="22"
              height="15"
              decoding="async"
            />
            <span>{{ loc.nativeName }}</span>
          </button>
        </li>
      }
    </ul>
  }
</div>
